* { 
	font-family: 'Montserrat', sans-serif; }

body {
    background-color: black;
    padding-top: 100px;	
}

html { 
	overflow-y: scroll; 
}

#myCanvas { 
		background-color: rgba(255, 255, 255, 1); 
}

#greeting {
	font-weight: bold;
	font-size: 25px;
	padding: 0px 0px 10px 0px;
}

#instructions {
	font-size: 20px;
	padding: 0px 0px 10px 0px;
}

#scoreOut {
	font-size: 25px;
	padding: 0px 0px 10px 0px;
}

#status {
	font-weight: bold;
	font-size: 30px;
}

#awesomeicons {
	padding: 4px 5px 0px 0px;
}

#navlinks {
	padding: 8px 0px 0px 0px;
}

.links a {
	text-decoration: none;
}

.container {
	color:white;
}

.navbar  {
	font-size: 22px;
}

 .contentText {
	 font-size: 20px; 
 }

 .cv {
	 font-size: 24px; 
 }
 
 .navbar-brand {
	 font-size: 24px;
 }
 

#left{
	float:left;
	width:50%; 
}

#right{
	float:right;
	width:50%;
}


.clear{
	clear: both;
}
 
 .sideDiv {
	 padding: 80px 0px 0px 0px;
 }
 
 @media screen and (max-width: 1024px) {
    .snake{
        display:none;
    }
 }
	
@media screen and (min-width: 1025px) {
    .noSnake{
        display:none;
    }
}

